<section class="section-container text-center">
    <% if (artist.images.length>= 2) { %>
        <img src="<%=artist.images[1].url %>" alt="..." class="img-thumbnail">
        <% } else { %>
            <img src="<%=artist.images[0].url %>" alt="..." class="img-thumbnail">
            <% } %>
                <h1 class="jumbotron-heading">
                    <%= artist.name %>
                </h1>
                <ul class="list-group">
                    <li class="list-container list-primary lead text-muted">
                        <%= artist.genres %>
                    </li>
                    <li class="list-container list-primary lead text-muted">Followers: <%= artist.followers.total %>
                    </li>
                    <li class="list-container list-primary lead text-muted">Popularity: <%= artist.popularity %>
                    </li>
                </ul>
</section>
<div class="card-body">
    <table class="table table-light" id="artistTopTracks">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Track Name</th>
                <th>Album</th>
                <th>Popularity</th>
                <th>Link</th>

            </tr>
        </thead>
        <tbody>
            <% Object.entries(artistTopTracks).forEach((track)=> { %>
                <tr>
                    <td>
                        <%= Number(track[0]) + 1 %>
                    </td>
                    <td>
                        <a href="/track/<%= track[1].id %>">
                            <%= track[1].name %>
                        </a>
                    </td>
                    <td>
                        <a href="/album/<%= track[1].album.id %>">
                            <%= track[1].album.name %>
                        </a>
                        </a>
                    </td>
                    <td>
                        <%= track[1].popularity %>
                    </td>
                    <td><a href="<%= track[1].external_urls.spotify %>">Link</a></td>
                </tr>
                <%})%>

        </tbody>
    </table>
</div>
<div class="album py-5">
    <div class="container">
        <div class="row">
            <% if (Object.keys(artistAlbums).length !=0 ) { %>
                <% Object.entries(artistAlbums).forEach(function (album) { %>
                    <div class="col-md-4">
                        <div class="card-container mb-4 box-shadow">
                            <a href="/album/<%=album[1].id %>"><img class="card-img-top" src="<%= album[1].images[0].url%>" alt="<%=album[1].name %>"></a>
                            <div class="card-body">
                                <p class="card-text"><b>
                                        <%= album[1].name %>
                                    </b></p>
                                <p class="card-text">
                                    <%= album[1].genres %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/album/<%=album[1].id %>">View</a></button>
                                    </div>
                                    <small class="text-muted">#<%=Number(album[0]) + 1 %></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                        <!-- Otherwise say no artists found -->
                        <% } else { %>
                            Your artists are empty!!!
                            <% } %>
        </div>
    </div>
</div>