<p><%= Object.entries(trackFeatures) %></p>
<p><%= Object.entries(trackInfo) %></p>
<h4><%= trackInfo.name%></h4>
<h4><%= trackInfo.album.name %></h4>
<h4><%= trackInfo.popularity %></h4>
<h4><%= trackInfo.track_number %></h4>
<h4><%= trackFeatures.tempo %></h4>
<h4><%= trackFeatures.danceability %></h4>