<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Your Top 50 Tracks</h1>
</section>
<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Track Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Popularity</th>
                <th>Link</th>

            </tr>
        </thead>
        <tbody>
            <% Object.entries(tracks).forEach((track)=> { %>
                <tr>
                    <td>
                        <%= Number(track[0]) + 1 %>
                    </td>
                    <td>
                        <a href="/track/<%= track[1].id %>">
                            <%= track[1].name %>
                        </a>
                    </td>
                    <td>
                        <a href="/artist/<%= track[1].artists[0].id %>">
                            <%= track[1].artists[0].name %>
                        </a>
                    </td>
                    <td>
                        <a href="/album/<%= track[1].album.id %>">
                            <%= track[1].album.name %>
                        </a>
                    </td>
                    <td>
                        <%= track[1].popularity %>
                    </td>
                    <td><a href="<%= track[1].external_urls.spotify %>">Link</a></td>
                </tr>
                <%})%>

        </tbody>
    </table>
</div>